/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px !important;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Gill Sans MT Pro';
    src: url('assets/GillSansMTPro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gill Sans MT Pro';
    src: url('assets/GillSansMTPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'MMC';
    src: url('assets/MMC-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MMC';
    src: url('assets/MMC-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


::-webkit-scrollbar {
    width: 0px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;

}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}